{% extends 'Front.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

	<header class="bg-dark position-relative overflow-hidden" style="height: 100px;">
		<div class="container h-100">
			<div
				class="d-flex h-100 align-items-center justify-content-center"><!-- You can add any content you want here, such as a logo or site title -->

			</div>
		</div>
	</header>

{% for inventory in inventories %}
    <h1>Inventory of {{ user.name }}</h1>

    <ul>
       <dt class="col-sm-3">Title:</dt>
							<dd class="col-sm-9">{{ inventory.title }}</dd>

							<dt class="col-sm-3">Description:</dt>
							<dd class="col-sm-9">{{ inventory.description }}</dd>
    </ul>
{% endfor %}

{% endblock %}