{% extends 'Back.html.twig' %}

{% block title %}New Echange{% endblock %}

{% block body %}
    <h1>Create new Echange</h1>

    {{ include('echange_back/_form.html.twig') }}

    <a href="{{ path('app_echange_back_index') }}">back to list</a>
{% endblock %}
