{% extends 'Back.html.twig' %}

{% block title %}Edit Annonces{% endblock %}

{% block body %}
    <h1>Edit Annonces</h1>

    {{ include('annoncesback/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_annoncesback_index') }}">back to list</a>

    {{ include('annoncesback/_delete_form.html.twig') }}
{% endblock %}
