{% extends 'front.html.twig' %}

{% block title %}Commnet{% endblock %}

{% block body %}
    <h1></h1>

    <div class="container mt-5">
        <table class="table">
            <tbody>
            
                <tr>
                    <th>Contenu</th>
                    <td>{{ commnet.contenu }}</td>
                </tr>
                <tr>
                    <th>Datecommnt</th>
                    <td>{{ commnet.datecommnt ? commnet.datecommnt|date('Y-m-d H:i:s') : '' }}</td>
                </tr>
            </tbody>
        </table>

        <a href="{{ path('app_commnet_index') }}" class="custom-button">retourner aux liste</a>

       

        {{ include('commnet/_delete_form.html.twig') }}
    </div>

    <style>
        /* Your CSS styles here */
        .container {
            margin-top: 50px;
        }

        .table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th {
            background-color: #f2f2f2;
            padding: 15px;
            text-align: left;
            font-weight: bold;
            color: #333;
        }

        td {
            padding: 15px;
            border-bottom: 1px solid #ddd;
        }

        tr:nth-child(even) {
            background-color: #f9f9f9;
        }

        .custom-button {
            display: inline-block;
            padding: 12px 24px;
            font-size: 16px;
            font-weight: bold;
            text-align: center;
            text-transform: uppercase;
            border: 2px solid #007bff;
            border-radius: 8px;
            background-color: transparent;
            color: #007bff;
            cursor: pointer;
            transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
            margin-right: 10px;
        }

        .custom-button:hover {
            background-color: #007bff;
            color: #fff;
        }
    </style>
{% endblock %}
