{% extends 'Back.html.twig' %}

{% block title %}Edit Reservation{% endblock %}

{% block body %}
    <h1>Edit Reservation</h1>

    {{ include('reservationback/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reservationback_index') }}">back to list</a>

    {{ include('reservationback/_delete_form.html.twig') }}
{% endblock %}
