{% extends 'Back.html.twig' %}

{% block title %}Edit Event{% endblock %}

{% block body %}
    <h1>Edit Event</h1>

    {{ include('eventback/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('eventback/_delete_form.html.twig') }}
{% endblock %}
