{% extends 'Front.html.twig' %}

{% block title %}khoduh&Het

{% endblock %}


{% block body %}
	<!-- Hero section -->
	<div class="hero-wrap ftco-degree-bg" style="background-image: url('{{ asset('assetsfront/images/bg_1.jpg') }}');" data-stellar-background-ratio="0.5"></div>
	<!-- About section -->
	<section class="ftco-section ftco-about">
		<div class="container">
			<div class="row">
				<div class="col-md-6 p-md-5 img img-2 d-flex justify-content-center align-items-center" style="background-image: url('{{ asset('assets/images/about.jpg') }}'); min-height: 400px;"></div>

				<div class="col-md-6">
					<div class="heading-section pl-md-5">
						<span class="subheading">About us</span>
						<h2 class="mb-4">Welcome to Khoudh&het</h2>
						<p>Lhoudh&Het, une application dédié aux passionnés de mécanique, où l'échange et le troc de services, de pièces détachées et de consommables deviennent simples et rapides.
						</p>
						<p>Explorez notre communauté dynamique et trouvez tout ce que vous avez besoin pour vos projets mécaniques, tout en partageant votre expertise avec d'autres passionnés.</p>
						<p>
							<a href="#" class="btn btn-primary py-3 px-4">Nous Joindre</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</section>


	<!-- Services section -->
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center mb-5">
				<div class="col-md-7 text-center heading-section ftco-animate">
					<span class="subheading">Services</span>
					<h2 class="mb-3">Nos Services</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-3">
					<div class="services services-2 w-100 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-wedding-car"></span>
						</div>
						<div class="text w-100">
							<h3 class="heading mb-2">Echange avec toute confidentialité</h3>

						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="services services-2 w-100 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-transportation"></span>
						</div>
						<div class="text w-100">
							<h3 class="heading mb-2">Une gestion complete de profil</h3>

						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="services services-2 w-100 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-car"></span>
						</div>
						<div class="text w-100">
							<h3 class="heading mb-2">Une vaste catégorie d'inventaire</h3>

						</div>
					</div>
				</div>
				<div class="col-md-3">
					<div class="services services-2 w-100 text-center">
						<div class="icon d-flex align-items-center justify-content-center">
							<span class="flaticon-transportation"></span>
						</div>
						<div class="text w-100">
							<h3 class="heading mb-2">Des évènements pour les pattionés
							</h3>

						</div>
					</div>
				</div>
			</div>

			<!-- Services cards... -->


		</section>
	{% endblock %}

	{% block page %}
		<!-- Your blank page content goes here -->
		<div class="container">
			<h1>This is a Blank Page</h1>
			<p>This page intentionally left blank.</p>
		</div>
	{% endblock %}
