{% extends 'loginback.twig' %}

{%block title %}{% endblock %}
{% block body %}
	<!-- Blank Start -->
	
		<div class="row vh-100 bg-secondary rounded align-items-center justify-content-center mx-0">
			<div class="col-md-6 text-center">
				<h3>Error 404  </h3>
				<h4>please try again cause i know what u wanna do</h4>
				<h5>access for admin account only ;)  </h5>
			</div>
		</div>
	
	<!-- Blank End -->

{% endblock %}
