{% extends 'back.html.twig' %}

{% block title %}Inventory
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="row">
			<div class="col-md-12">
				<div class="table-responsive">
					<table class="table table-bordered table-striped table-hover custom-table">
						<thead class="thead-dark">
							<tr>
								<th class="text-center">ID</th>
								<th class="text-center">Title</th>
								<th class="text-center">Description</th>
								<th class="text-center">Created At</th>
							</tr>
						</thead>
						<tbody class="table-group-divider">
							{% for inventory in inventories %}
								<tr class="animate__animated animate__fadeInUp">
									<td class="text-center">{{ inventory.id }}</td>
									<td>{{ inventory.title }}</td>
									<td>{{ inventory.description }}</td>
									<td class="text-center">{{ inventory.addDate | date('Y-m-d H:i:s') }}</td>
								</tr>
							{% else %}
								<tr class="animate__animated animate__fadeInUp">
									<td colspan="4" class="text-center">No records found</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
